.App {
  text-align: center;
}

.container {
  display: flex;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.imageWrapper {
  display: flex;
  justify-content: center;
  padding-bottom: 1rem;
}

.memePic {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

}

.navigationThumbs {
  width: 70px;
  margin-bottom: 1rem;
}

.memeText {
  text-transform: uppercase;
  color: white;
  font-size: 3rem;
  font-family: 'Anton', sans-serif;
  padding-bottom: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.pageNavigation {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.pageNavigation div {
  cursor: pointer;
  color: blue;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
